:root {
  box-sizing: border-box;

  /*********** COLORS BOARD *********/
  --backdrop-dark: hsla(0, 0%, 0%, 0.249);
  --backdrop-light: rgba(255, 252, 252, 0.689);
  --backdrop-red: rgba(234, 23, 23, 0.179);
  --principal-color: rgb(41, 106, 149);
  --dark-blue:  rgb(61, 105, 188);
  --hover-color1: rgba(75, 151, 201, 0.852);
  --light-white: rgb(255, 255, 255);
  --dark-black: rgb(0, 0, 0);
  --dark-black2: rgba(0, 0, 0, 0.397);
  --slow-dark: rgba(248, 245, 245, 0);
  --wrong-color: rgb(226, 8, 8);
  --light-green: rgb(8, 214, 8);
  --light-gray: rgb(51, 51, 51);
  --gold: rgb(255, 215, 0);
  --dark-red: rgb(234, 23, 23);
  --heart-lose-color: rgba(208, 141, 141, 0.63);

  /******** DEFAULT SETTINGS *******/
  --radius: 6px;
  --width: 100%;
  --border: 0.625rem;
  --blur: 2px;
}


*, *::after, *::before {box-sizing: inherit}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
}

main {
  background-color: var(--principal-color);
  padding: 2rem 0;
}

.container {
  background-color: var( --light-white);
  border-radius: var(--border);
  height: 90dvh;
  max-width: 40.625rem;
  margin-inline: auto;
  overflow: hidden;
  position: relative;
  top: 0;
  width: var(--width);
}

.question-img {
  display: block;
  height: 100%;
  opacity: 0.6;
  object-fit: cover;
  position: absolute;
  width: var(--width);
}

.list-instructions-game {
  display: flex;
  flex-direction: column;
  font-size: clamp(0.9em, 0.9em + 1vw, 1.1em);
  gap: 1em;
  margin-left: -1.25rem;
  text-align: left;
}

.wrapper-buttons, .container-answers {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 2rem;
  max-width: 18.75rem;
  min-width: 11.875rem;
  margin-inline: auto;  
  width: var(--width);
}

.wrapper-buttons {
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
  top: 50%;
}


.button-front {
  border: none;
  border-radius: var(--radius);
  color: var(--principal-color);
  cursor: pointer;
  display: inline-block; 
  font-size: clamp(1.125rem, 4vw, 1.25rem); 
  font-weight: 600;
  max-width: 18.75rem;
  margin: var(--border);
  margin-inline: auto;
  outline: 1px solid var(--dark-black);
  padding: clamp(var(--border), 2vw, 0.687rem); 
  transition: all 0.2s ease-out;
  width: 90%; 
}

.button-front:hover {
  background-color: var(--hover-color1); 
  color: var(--dark-black);
  transform: scale(1.05); 
}

.wrapper-chances-score {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: var(--width);
  margin-inline: auto;
  max-width: 21.875rem;
}

.chance {
  font-size: 1.437rem;
  color: var(--wrong-color);
}

.container-hearts {
  display: flex;
  gap: 0.5rem;
}

.lose-chance {
  display: inline-block;
  color: var(--heart-lose-color);
  animation: lose 1s ease;
}


@keyframes lose {
  0% {
    transform: scale(1);
    color:  var(--wrong-color);
  }
  50% {
    transform: scale(1.2);
    color: var(--wrong-color);
  }
  100% {
    transform: scale(1);
    color: var(--heart-lose-color);
  }
}


.button {
  border: 1px solid var(--dark-black); 
  border-radius: var(--radius);
  cursor: pointer;
  display: inline-block;
  font-size: clamp(1rem, 2vw, 1.125rem); 
  font-weight: 600;
  padding: clamp(var(--border), 2vw, 0.687rem); 
  width: 95%; 
}

button:hover {

}

.button-close {
  border-radius: var(--radius);
  border: 2px solid var(--dark-red);
  color: var(--dark-red);
  cursor: pointer;
  display: block;
  font-size: 0.937rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  margin-top: 2rem;
  margin-inline: auto;
}

.button-next {
  border-radius: var(--radius);
  border-style: none;
  border: 2px solid var(--dark-black); 
  cursor: pointer;
  display: none;
  font-size: clamp(1em, 1em + 1vw, 1.1em);
  font-weight: 600;
  padding: 0.4em 0;
  margin-top: 2rem;
  margin-inline: auto;
  width: 40%;
}

.btn-close-dialog,
.btn-close-domain,
.btn-close-game,
.btn-close-alert,
.btn-close-theme {
  color: var(--dark-blue);
  cursor: pointer;
  border-style: none;
  background: var(--slow-dark);
  font-size: 1.5em;
  font-weight: 600;
  margin-left: 90%;
}

.btn-close-alert {
  font-size: 1.5em;
  color: var(--light-green);
}

.btn-close-domain {
  font-size: 2.4em;
}

.dialog-instructions::backdrop,
.dialog-domain::backdrop,
.dialog-game::backdrop,
.dialog-colors::backdrop {
  background-color: var(--backdrop-dark);
}

.alert-message::backdrop {
  background: var(--backdrop-red);
}

.alert-message {
  border: 2px solid var(--wrong-color);
  border-radius: var(--radius);
  max-width: 21.875rem;
  width: 80%;
}

.dialog-instructions {
  border-style: none;
  border-radius: var(--radius);
  max-width: 34.375rem;
  width: 90%;
}

.dialog-game {
  background: var(--backdrop-light); 
  backdrop-filter: blur(var(--blur));
  border-style: none;
  border-radius: var(--radius);
  width: 95%;
  max-width: 34.375rem;
  padding: 2rem;
  text-align: center;
}

.dialog-domain {
  background: var(--backdrop-light); 
  backdrop-filter: blur(var(--blur));
  border-style: none;
  border-radius: var(--radius);
  width: 90%;
  max-width: 25rem;
  padding: 2rem;
}

.container-inputs {
  display: flex;
  flex-direction: column;
  font-size: clamp(1em, 1em + 1vw, 1.1em);
  font-weight: 500;
  gap: 1rem;
  margin: 1.5em 0;
}

.container-alert {text-align: center}
.label {margin-left: 1.5em}

.wrapper-colors {
  border-radius: var(--border);
  display: flex;
  flex-direction: column;
  outline: 2px solid var(--dark-black);
  position: absolute;
  right: 1.25rem;
  top: 42%;
  width: var(--radius);
}

.wrapper-colors .color-question:first-child {
  border-top-left-radius: var(--border);
  border-top-right-radius: var(--border);
}

.wrapper-colors .color-question:last-child {
  border-bottom-left-radius: var(--border);
  border-bottom-right-radius: var(--border);
}

.color-question {
  height: 1.25rem;
  outline: 0.5px solid var(--dark-blue);
  width: var(--radius);
}

@keyframes popScore {
  0% {
    transform: scale(1);
    color: var(--light-gray);
  }
  50% {
    transform: scale(1.2);
    color: var(--gold);
  }
  100% {
    transform: scale(1);
    color: var(--light-gray);
  }
}

.pop-animation {animation: popScore 0.7s ease}

.score-game {
  backdrop-filter: blur(var(--blur)); 
  background: var(--dark-black2); 
  border-radius: var(--radius);
  color: var(--light-white);
  display: inline-block;
  font-weight: 600;
  font-size: 1rem;
  margin-top: var(--border);
  margin-inline: auto;
  padding: var(--border);
  position: relative;
  text-align: center;
  transition: color 0.3s ease;
  width: 80%;
}

/* .results, .mistakes {
 display: none;
} */

.nrQ {
  color: var(--light-green);
}

.nrW {
  color: var(--wrong-color);
}