:root {
  box-sizing: border-box;

  /*********** COLORS BOARD *********/
  --alert-message: rgb(255, 255, 255);
  --backdrop-dark: hsla(0, 0%, 0%, 0.249);
  --backdrop-light: rgba(255, 252, 252, 0.689);
  --backdrop-red: rgba(234, 23, 23, 0.179);
  --btn-front-color: rgb(242, 242, 242);
  --btn-answer-hover: rgb(170, 171, 173);
  --color: rgb(0, 0, 0);
  --principal-color: rgb(41, 106, 149);
  --dark-blue:  rgb(61, 105, 188);
  --hover-color1: rgba(75, 151, 201, 0.852);
  --light-white: rgb(255, 255, 255);
  --dark-black: rgb(0, 0, 0);
  --dark-black2: rgba(0, 0, 0, 0.397);
  --slow-dark: rgba(145, 54, 54, 0);
  --light-gray: rgb(51, 51, 51);
  --wrong-color: rgb(226, 8, 8);
  --light-green: rgb(8, 214, 8);
  --gold: rgb(255, 215, 0);
  --dark-red: rgb(234, 23, 23);
  --heart-lose-color: rgba(194, 146, 146, 0.63);

  /******** DEFAULT SETTINGS *******/
  --radius: clamp(0.3rem, 1vw, 0.4rem);
  --width: 100%;
  --border: 0.625rem;
  --blur: 2px;

}


body.dark {
  --alert-message: rgb(206, 206, 206);
  --backdrop-dark: hsla(0, 0%, 18%, 0.688);
  --backdrop-light: hsla(0, 0%, 9%, 0.658);
  --backdrop-red:  rgba(209, 44, 44, 0.179);
  --color: hsl(0, 0%, 87%);
  --principal-color: rgb(20, 79, 119);
  --dark-blue:  rgb(112, 147, 212);
  --hover-color1: rgba(129, 195, 240, 0.852);
  --btn-front-color:  rgb(180, 180, 180); 
  --light-white: rgb(30, 30, 30);
  --dark-black2: rgba(181, 180, 180, 0.333);
  --btn-answer-hover:  rgb(48, 48, 49);
  --light-gray: rgb(51, 51, 51);

  & button.btn-dark-theme {
    display: none;
  }

  & button.btn-light-theme {
    display: block;
  }

}

@media (prefers-color-scheme: dark) {
  
  body.os-mode {
    --alert-message: rgb(206, 206, 206);
    --backdrop-dark: hsla(0, 0%, 18%, 0.688);
    --backdrop-light: hsla(0, 0%, 9%, 0.658);
    --backdrop-red:  rgba(209, 44, 44, 0.179);
    --color: hsl(0, 0%, 87%);
    --principal-color: rgb(20, 79, 119);
    --dark-blue:  rgb(112, 147, 212);
    --hover-color1: rgba(129, 195, 240, 0.852);
    --btn-front-color:  rgb(180, 180, 180); 
    --light-white: rgb(30, 30, 30);
    --dark-black2: rgba(181, 180, 180, 0.333);
    --btn-answer-hover:  rgb(48, 48, 49);
    --light-gray: rgb(51, 51, 51);

    & button.btn-dark-theme {
      display: none;
    }

    & button.btn-light-theme {
      display: block;
    }

  }
}
  
& button.btn-dark-theme {
    display: block;
  }

& button.btn-light-theme {
  display: none;
}


.btn-theme {
  border-style: none;
  border-radius: 100%;
  background-color: var(--principal-color);
  color: white;
  cursor: pointer;
  display: block;
  height: 3rem;
  margin: 2rem;
  position: absolute;
  right: 0;
  top: -1rem;
  width: 3rem;
  z-index: 10;
}